

// primary color for text with h1,h2,h3 etc
$headerTextColor: #1F3E79;

// content text color
$textColor: #4C4C69;

// Primary color for Links and checkbox
$linkTextColor: #6B7499;

// Button background Primary
$btnBackground: #605BFF;

// Button on hover
$btnHover: #7d79ff;

// Button text Primary
$btnTextColor: #FFFFFF;

// Footer 
$footerTextColor: #9A9AA9;
$footerLinkColor: #605BFF;

// Label
$labelColor: #6B7499;

// Background Color
$bodyColor: #fff;
$inputBackground: rgba(96, 91, 255, 0.05);



// Border Color
$borderColor: #BAC4D8; 

// Border Color hover
$borderColorHover: #605BFF; 