$background-white: #ffffff;
$background-blue: #605BFF;
$background-active: #FCFDFF;
$background-input: #FCFDFF;

$text-blue:#1F3E79;  /*use for header text color, links*/
$text-light-blue: #6B7499; /*use for text inside all text*/
$text-input: #030229; 
$text-light-gray: #9A9AA9; /*use for footer text*/
$box-shadow: rgba(0, 0, 0, 0.1);


// Border

$border-active: #605BFF;
$border-primary: #FCFDFF;

// Placeholder

$placeholder-light: #BAC4D8;