// Font Family
$fontFamily: 'Nunito', sans-serif;

// Font Size
$largeFontSize: 20px;
$mediumFontSize: 16px;
$smallFontSize: 14px;
$footerFontSize: 10px;

// Font Weight
$largeFontWeight: 700;
$mediumFontWeight: 600;
$smallFontWeight: 400;