@use "../src/assets/scss/Globals/Functions";
@use "../src/assets/scss/Globals/Color";
@use "../src/assets/scss/Globals/Font";


.wrapper{
  @include Functions.center--auto;
  width: 400px;
  @include Functions.borderRadius(10px);
  margin-top: 5px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  h1{
    color: Color.$headerTextColor;
    font-family: Font.$fontFamily;
    font-weight: Font.$largeFontWeight;
    font-size: Font.$largeFontSize;
    line-height: 27px;
    width: 160px;
    @include Functions.center--auto;
    margin-top: 70px;
    margin-bottom: 68px;
  }
}